[submodule "ganspace"]
	path = ganspace
	url = https://github.com/harskish/ganspace.git
	ignore = untracked
[submodule "ganspace/stylegan/stylegan_tf"]
	path = ganspace/models/stylegan/stylegan_tf
	url = https://github.com/NVlabs/stylegan.git
	ignore = untracked
[submodule "ganspace/stylegan2/stylegan2-pytorch"]
	path = ganspace/models/stylegan2/stylegan2-pytorch
	url = https://github.com/harskish/stylegan2-pytorch.git
	ignore = untracked
